.layer-toolbox {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  z-index: 1070;
}

.layer-toolbox .ant-card-head-title {
  align-self: center;
}

.layer-extension {
  display: block;
  position: absolute;
  bottom: 15px;
  z-index: 1070;
  width: 100%;
  text-align: center;
}

.leaflet-control-attribution.leaflet-control a[href="http://leafletjs.com"]{
  display: none;
}

.layer-extension span {
  margin-right: 4px;
}

.leaflet-touch .leaflet-control-zoom.leaflet-bar a {
  line-height: 25px;
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
