.layer-toolbox {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  z-index: 1000;
}

.layer-toolbox .ant-card-head-title {
  align-self: center;
}

.layer-extension {
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 1000;
  max-width: 200px;
  margin: auto;
  text-align: center;
}

.layer-extension-wrapper {
  display: inline-block;
  margin: auto;
  padding: 6px 15px;
  border-radius: 25px;
}

.layer-extension span {
  margin-right: 4px;
}

.leaflet-touch .leaflet-control-zoom.leaflet-bar a {
  line-height: 25px;
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.layer-toolbox-wrapper {
  overflow: hidden;
}

.layer-toolbox-list {
  margin-top: 10px;
  width: auto;
  height: auto;
  transform: translateX(0);
  will-change: transform;
}

.layer-toolbox-list.hide,
.layer-toolbox-list.hide * {
  width: 0;
  height: 0;
  transform: translateX(-200px);
}

.layer-toolbox-control-item {
  margin-bottom: 6px;
}

.layer-toolbox-control-item span {
  display: inline-block;
}

.layer-information {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  min-width: 30px;
  z-index: 1000;
}

.layer-information .layer-information-action {
  text-align: right;
}

.information-body-wrapper {
  overflow: hidden;
}

.layer-information-body {
  margin-top: 10px;
  width: auto;
  height: auto;
  transform: translateX(0);
  will-change: transform;
}

.layer-information-body.hide,
.layer-information-body.hide * {
  transform: translateX(400px);
  width: 0;
  height: 0;
}
