.app-header {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-basis: 33%;
  flex-wrap: wrap;
}

.app-header > div {
  flex-grow: 1;
}

.app-header img {
  width: 32px;
}

.app-header a {
  color: #fff;
}

.header-menu {
  display: inline-block;
}

.header-menu-center {
  align-self: center;
  text-align: center;
}

.header-menu-right {
  align-self: flex-end;
  text-align: right;
}

.ant-dropdown-menu-item.header-inner-menu {
  padding: 10px 18px;
}
